.bg-image {
  background: url('../imgs/bg-1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bg-color {
  background: cornflowerblue;
}
